<header>
  <nav class="navbar-container">
    <div class="navbar-brand">
      <img class="ml-14 sm:ml-0" src="/assets/images/logo.png" alt="Ontop Logo">
    </div>
    <ol class="navbar-items">
      <app-navbar-item *ngFor="let item of items" [item]="item"></app-navbar-item>
    </ol>
    <ol class="navbar-items navbar-right">
      <li class="flex items-center">
        <img src="/assets/images/user-profile-1.png" alt="Profile">
        <span class="ml-3">
            <img src="/assets/svg/arrow-down.svg" alt="Arrow Down">
          </span>
      </li>
    </ol>
    <ol class="d-block sm:hidden">
      <li>
        <img class="w-8 mr-5 cursor-pointer" src="/assets/svg/menu.svg" alt="Menu">
      </li>
    </ol>
  </nav>
</header>
