<header>
  <nav class="navbar-container">
    <div class="navbar-brand">
      <img src="/assets/images/logo.png" alt="Ontop Logo">
    </div>
    <ol class="navbar-items">
      <li *ngFor="let item of items" class="navbar-item" [ngClass]="{'text-primary': item.active}">
        <span></span>
        <a href="#" class="flex items-center">
          <img class="mx-auto w-5 h-5 mr-2" [src]="item.icon" [alt]="item.name">
          <span>{{item.name}}</span>
          <img *ngIf="item.active" class="ml-1" src="/assets/svg/arrow-down-sm-active.svg" alt="Arrow Down">
          <img *ngIf="!item.active" class="ml-1" src="/assets/svg/arrow-down-sm.svg" alt="Arrow Down">
        </a>
        <span [ngClass]="{'navbar-indicator': item.active}"></span>
      </li>
    </ol>
    <ol class="navbar-items navbar-right">
      <li class="flex items-center">
        <img src="/assets/images/user-profile-1.png" alt="Profile">
        <span class="ml-3">
            <img src="/assets/svg/arrow-down.svg" alt="Arrow Down">
          </span>
      </li>
    </ol>
  </nav>
</header>
