
input {
  @apply w-full focus:border-primary pl-2;
  /*@apply rounded-tr-md rounded-br-md w-full;*/
  /*@apply border-t border-b border-r;*/
  border-color: #989B9B;
  height: 58px;
}

.input-group {
  @apply flex border rounded-md;
  border-color: #989B9B;
  background-color: white;
}

.input-icon {
  /*@apply rounded-tl-md rounded-bl-md;*/
  /*@apply border-t border-b border-l;*/
  @apply p-4;
  border-color: #989B9B;
}
