

.app-container {
  @apply px-6 pb-16;

}

.card {
  @apply sm:shadow sm:bg-white sm:p-8 sm:rounded
}

@media screen(md) {
  .app-container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen(lg) {
  .app-container {
    padding-right: 180px;
    padding-left: 180px;
  }
}
