
<app-navbar [items]="items"></app-navbar>

<h1 class="text-center text-3xl font-bold py-24">
  Contracts for {{ client.name }}
</h1>

<main class="app-container">
  <section class="flex flex-wrap sm:flex-nowrap">
    <app-search-input class="w-full"></app-search-input>
    <app-button (click)="toggleFilter()" icon="tune" class="ml-5 mt-4 sm:mt-0" btnClass="w-28 justify-center" variant="secondary">
      Filter
    </app-button>
    <app-button icon="add" class="ml-5 mt-4 sm:mt-0" btnClass="w-48 justify-center">New hire</app-button>
  </section>

  <section *ngIf="showFilter" class="grid grid-rows-4 sm:grid-cols-4 sm:grid-rows-1 gap-7 row-span-2 my-7 mx-10 sm:mx-0">
    <div>
      <app-select default="Date"></app-select>
    </div>
    <div>
      <app-select default="Contract Type"></app-select>
    </div>
    <div>
      <input class="form-control" type="text" placeholder="Contractor Name">
    </div>
    <div>
      <app-select default="Status"></app-select>
    </div>
    <div class="text-right text-primary flex items-center justify-end cursor-pointer block sm:hidden">
      <img class="w-4 h-4 mr-1" src="/assets/svg/trash.svg" alt="Trash">
      Clear filters
    </div>
  </section>

  <section class="card my-7">
    <app-table></app-table>
  </section>
</main>

<app-chat></app-chat>
