
<app-navbar [items]="items"></app-navbar>

<h1 class="text-center text-3xl font-bold py-24">
  Contracts for {{ client.name }}
</h1>

<main class="app-container">
  <section class="flex">
    <app-search-input class="w-full"></app-search-input>
    <app-button icon="tune" class="ml-5" btnClass="w-28 justify-center" variant="secondary">
      Filter
    </app-button>
    <app-button icon="add" class="ml-5" btnClass="w-48 justify-center">New hire</app-button>
  </section>

  <section class="grid grid-cols-4 my-7">
    <div class="pr-7">
      <app-select default="Date"></app-select>
    </div>
    <div class="pr-7">
      <app-select default="Contract Type"></app-select>
    </div>
    <div class="pr-7">
      <input class="form-control" type="text" placeholder="Contractor Name">
    </div>
    <div>
      <app-select default="Status"></app-select>
    </div>
  </section>

  <section class="card">
    <app-table></app-table>
  </section>
</main>
